*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
body{
    font-family: sans-serif;
     /* line-height: ;  */
}
nav{
    display: flex;
    background: #087f5b;
    color: white;
   align-items: center;
   padding: 0px 6% ;
   /* width: 200vh; */
   height: 40px;
}
nav a{
    display: flex;
    text-decoration: none;
    color: white;

}
nav ul{
    display: flex;
    color: white;
    margin-left: auto;
}
nav li{
    list-style: none;
    color: white;
    margin: 0px 20px;
}
nav a:hover{
    /* background: red; */
   border-bottom: 1px solid white;
}

h2{
    font-size: large;

}
header{
    display: flex;
    padding: 0px 6%;
    margin-top: 80px;
    
}
.left{
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
   width: 50%;
   height: 100%;
   justify-items: center;

}
.left p{
    margin-top: 20px; 
}
.right{
    /* padding-top: 10px; */
    width: 50%;
    /* padding-left: 30px; */
    
}
.right img{
    /* margin-left: 100px; */
    border-radius: 8px ;
    width: 80%; 
    height: 80%;
    margin-left: 40px;
    /* width: 400px;
    height: 300px; */

}
.left button{
    background-color: #087f5b;
    border-radius: 8px;
    margin-top: 40px;
    font-weight: bold;
    width: 120px;
    color: #fff;
}
.left h2{
    font-size: 32px;
}
section{
    display: flex;
    flex-direction: column;
    /* height: 80vh; */
    padding: 0px 6%;
}
.text{
    display: flex;
    /* width: 30%; */
    
}
.icon2{
    width: 50%;
    margin-left: 40px;


}
.icon3{
    width: 50%;
    margin-left: 40px;
}
.icon1{
    width: 50%;
}

.icon1 h2,p{
    margin-top: 20px;
}
.icon2 h2,p{
    margin-top: 20px;
}
.icon3 h2,p{
    margin-top: 20px;
}
.testmon{
    display: flex;
    padding: 0px 6%;
    background: #039c31;
    margin-top: 80px;
    height: 30vh;

    
   
    
}
.imgtestmon{
    /* display: flex; */
    padding: 10px;
    
}
.h1testmon{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 30px;
    color: #fff;
    

}
.buynow{
    padding : 0px 6%;
    height: 80vh;
}
.buynow h2{
    margin-top: 80px;
    padding-bottom: 20px;
    
}
.buynow h1{
    margin-left: 20px;

}
.text-chairs{
    display: flex;
    margin-left: 26px;
}
.i{
    padding-top: 20px;
}
.text-chairs p{
    margin-left: 12px;
}
.game{

    display: flex;
    margin-top: 30px;
}   
.game button{
    margin-left: 100px;
    border-radius: 8px;
    background: #087f5b;
    color: white;
    font-weight: bold;
    /* width: 120px; */
    height: 25px;
    margin-top: 20px;
    
    
}
.box{
    background: white;
}



