* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
nav {
  display: flex;
  background:rgb(192, 186, 177);
  color: #087f5b;
  align-items: center;
  padding: 0px 6%;

  height: 40px;
}
nav a {
  display: flex;
  text-decoration: none;
  color: #087f5b;
}
nav ul {
  display: flex;
  color: #087f5b;
  margin-left: auto;
}
nav li {
  list-style: none;
  color: #087f5b;
  margin: 0px 20px;
  font-weight: bold;
}
nav a:hover {
  border-bottom: 1px solid green;
}

.contaner {
  /* background: red; */
  margin-top: 30px;
  padding: 0 6%;
  min-height: 600px;
  display: grid;
}
.item-1 {
  /* background: green; */
  display: flex;
}
.left {
  padding-top: 20px;
}
.left h1 {
  margin-bottom: 20px;
  font-size: 50px;
}
.left h1,
p {
  margin-bottom: 30px;
}
.left button {
  background: #087f5b;
  color: white;
  border: none;
  border-radius: 12px;
  height: 30px;
  width: 100px;
}
.right img {
  margin-top: 20px;
}
.item-2 {
  /* background: greenyellow; */
  margin-top: 20px;
}
.item-3 {
  background: #02862a;
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
}
.item-4 {
  /* background: purple; */
  margin-top: 20px;
}
.item-4 img{
  margin-top: 20px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
svg {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
}
.text-1 h3,
p {
  margin-bottom: 20px;
  margin-right: 40px;
}
.item-2 h2 {
  margin-bottom: 20px;
}

.text-2 h3,
p {
  margin-bottom: 20px;
}
.item-2 h2 {
  margin-bottom: 20px;
}

.text-3 h3,
p {
  margin-bottom: 20px;
}
.item-2 h2 {
  margin-bottom: 20px;
}
.let1 {
  margin-right: 40px;
}
.let1 img {
  margin-bottom: 20px;
  margin-left: 20px;
}

.let2 h2,
p {
  margin-bottom: 20px;
  /* color: white; */
}
.let2 h2 {
  color: white;
}

.let2 p {
  color: white;
}
.l1 {
  display: flex;
  margin-top: 20px;
}
.l1 p {
  margin-left: 20px;
  margin-top: 10px;
}
.l2 {
  display: flex;
  margin-top: 20px;
}
.l2 p {
  margin-left: 20px;
  margin-top: 10px;
}
.l3 {
  display: flex;
  margin-top: 20px;
}
.l3 p {
  margin-left: 20px;
  margin-top: 10px;
}
.l4 {
  display: flex;
  margin-top: 20px;
}
.l4 p {
  margin-left: 20px;
  margin-top: 10px;
}
.cart1 {
  display: flex;
  margin-left: 10px;
}
.cart1 button {
  background: #087f5b;
  color: white;
  border: none;
  border-radius: 12px;
  height: 20px;
  width: 90px;
}
.box2 {
  margin-left: 20px;
  margin-top: 20px;
}
.group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}